* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left bottom , #18434e,#122f38, #0c1c24);
}

.cont {
    color: #fff;
    margin-right: 50px;
    display: flex;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 52px;
    font-weight: normal;
    padding-top: 25px;
    margin-right: 150px;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 20px;
    margin-right: 150px;
}

.cover {
    font-size: 26px;
    line-height: 52px;
}

.cover img {
    width: 500px;
    margin-right: 150px;
}