<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>质感记事本</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app" :class="{ 'dark':theme, 'light': !theme }">
    <div class="bg">
      <div class="time">
        <p>{{ formatTime(currentHour) }} : {{ formatTime(currentMinute) }}</p>
      </div>
      <div>
        <a class="github" href="https://github.com/huishang01" target="_blank">
          <svg width="98" height="96" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" />
          </svg>
        </a>
      </div>
      <div>
        <transition name="fade">
          <svg v-show="icon" @click="switch_mode()" class="btn3" xmlns="http://www.w3.org/2000/svg" height="20px"
            viewBox="0 -960 960 960" width="20px">
            <path
              d="M479.96-144Q340-144 242-242t-98-238q0-140 97.93-238t237.83-98q13.06 0 25.65 1 12.59 1 25.59 3-39 29-62 72t-23 92q0 85 58.5 143.5T648-446q49 0 92-23t72-62q2 13 3 25.59t1 25.65q0 139.9-98.04 237.83t-238 97.93Zm.04-72q82 0 148.78-47.07Q695.55-310.15 727-386q-20 5-39.67 8.5Q667.67-374 648-374q-113.86 0-193.93-80.07Q374-534.14 374-648q0-19.67 3.5-39.33Q381-707 386-727q-75.85 31.45-122.93 98.22Q216-562 216-480q0 110 77 187t187 77Zm-14-250Z" />
          </svg>
        </transition>
        <transition name="fade">
          <svg v-show="!icon" @click="switch_mode()" @click="switch_theme" class="btn3"
            xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px">
            <path
              d="M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm-.23 72Q400-288 344-344.23q-56-56.22-56-136Q288-560 344.23-616q56.22-56 136-56Q560-672 616-615.77q56 56.22 56 136Q672-400 615.77-344q-56.22 56-136 56ZM216-444H48v-72h168v72Zm696 0H744v-72h168v72ZM444-744v-168h72v168h-72Zm0 696v-168h72v168h-72ZM269-642 166-742l51-55 102 104-50 51Zm474 475L642-268l49-51 103 101-51 51ZM640-691l102-101 51 49-100 103-53-51ZM163-217l105-99 49 47-98 104-56-52Zm317-263Z" />
          </svg>
        </transition>
      </div>

      <div class="main">
        <div>
          <h1>MD Note</h1>
          <div class="main-body">
            <div class="header">
              <div class="input-group">
                <input v-on:keyup.enter="add" class="text-input" type="text" name="文本" id="" placeholder="请输入事项"
                  v-model="new_msg">
                <button class="btn" @click="add">添加</button>
              </div>
            </div>
            <div v-show="is_show()" class="content">
              <div class="container" v-for="(item, index) in list" :key="item.id">
                <span class="left">
                  <span class="index">{{ index+1 }}.&nbsp;</span>
                  <span>{{ item.msg }}</span>
                </span>
                <span>
                  <svg class="del" @click="del(item.id)" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path
                      d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z">
                    </path>
                  </svg>
                </span>
              </div>
            </div>
            <div class="footer" v-show="is_show()">
              <span class="left2">
                <span>合 计：</span>
                <span v-html="list.length"></span>
              </span>
              <span>
                <button class="btn2" @click="del_all">清除全部</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      new_msg: '',
      list: [],
      icon: true,
      theme: true,
      currentHour: '',
      currentMinute: '',
    },
    created() {
      this.updateTime();
      this.timer = setInterval(this.updateTime, 1000);
    },
    destroyed() {
      clearInterval(this.timer);
    },
    methods: {
      is_show() {
        if (this.list.length == 0) {
          return false
        }
        return true
      },
      add() {
        if (this.new_msg != '') {
          this.list.unshift({
            id: +new Date(),
            msg: this.new_msg,
          })
          this.new_msg = ''
        }
      },
      del(index) {
        this.list = this.list.filter(item => item.id != index)
      },
      del_all() {
        this.list = []
      },
      switch_mode() {
        this.icon = !this.icon
        this.theme = !this.theme;
      },
      updateTime() {
        const now = new Date();
        this.currentHour = now.getHours();
        this.currentMinute = now.getMinutes();
      },
      formatTime(time) {
        return time < 10 ? "0" + time : time;
      }
    }
  })

</script>

</html>